---
name: Linting
on:
  pull_request: null
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  packages: read
  issues: write
  pull-requests: write
  statuses: write
jobs:
  linting:
    uses: ./.github/workflows/reusable-linting.yaml
    permissions:
      contents: read
      packages: read
      issues: write
      pull-requests: write
      statuses: write
