---
name: Linting
on:
  workflow_call: null
permissions:
  contents: read
  packages: read
  issues: write
  pull-requests: write
  statuses: write
jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Super linter
        uses: super-linter/super-linter@61abc07d755095a68f4987d1c2c3d1d64408f1f9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
